# App
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost        # use "db" for Docker Compose, "localhost" for local dev
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=psp_gsp_service

# JWT
JWT_SECRET=change_me_in_production
ACCESS_TOKEN_EXPIRATION=15m